# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Jam.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\venik\Desktop\Jam\.idea\.idea.Jam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
