# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.GG JAM 2021 (3080.jpg).iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\venik\Desktop\TestProject\jam\GG JAM 2021 (3080.jpg)\.idea\.idea.GG JAM 2021 (3080.jpg)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
